<div class="container">
  <div class="nav nav-pills">
    <div class="nav-item">
      <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">
        Register</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="user" routerLinkActive="active">User</a>
    </div>
  </div>
  <button (click)="login()">LOIGIN </button>
  <button (click)="logout()">Logout </button>
  <router-outlet></router-outlet>
</div>
