<div class="wrapper">
  <div class="inner radius">
    <form action="">
      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group" *ngIf="type===REGISTER_TYPE">
        <label for=""></label>
        <input type="text" class="form-control" />
      </div>
    </form>
    <span class="switch" (click)="switchLogRegis()">Change </span>
    <mat-icon>home</mat-icon>
  </div>
</div>
